{% extends "base.html.twig" %}

{% block title %}AppBundle:Agenda:index{% endblock %}

{% block body %}

    {% include '@AppBundle/Components/addModalEntityForm.html.twig' %}
    {% include '@AppBundle/components/addModal.html.twig' %}
    {% include '@AppBundle/components/showModal.html.twig' %}
    {% include '@AppBundle/components/editModal.html.twig' %}


    <div class="container mt-5 text-center">

        <h1>La tua Agenda</h1>

        <!-- {# <a href="{{ path('add_agenda') }}" class="btn btn-primary my-4">Aggiungi Contatto</a> #} -->
        <div class="my-3">
            <button type="button" id="buttonAdd" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Aggiungi contatto con normal-form
            </button>
        </div>

        <div>
            <button type="button" id="buttonAddWithEntityForm" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Aggiungi contatto con entity-form
            </button>
        </div>

        {% if entries|length > 0 %}
            <div class='container'>
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Numero di Telefono</th>
                        <th scope="col">AZIONI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                            <tr>
                            <td>{{ entry.id }}</td>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.surname }}</td>
                            <td>{{ entry.phoneNumber }}</td>
                            <td class="d-flex justify-content-center gap-3">
                                <!-- <a href="{{ path('show_agenda', {'id': entry.id}) }}" class="btn btn-info">Show</a> -->
                                <div>
                                    <button type="button" class="buttonShow btn btn-info" data-toggle="modal"
                                        data-id="{{ entry.id }}"
                                        data-name="{{ entry.name }}"
                                        data-surname="{{ entry.surname }}"
                                        data-phone="{{ entry.phoneNumber }}"
                                        data-address="{{ entry.address }}"
                                        data-sex="{{ entry.sex }}"
                                        data-foto="{{ asset('uploads/fotos/' ~ entry.fotoFilename) }}"
                                    >
                                        Show Modal
                                    </button>
                                </div>
                                <!-- <a href="{{ path('edit_agenda', {'id': entry.id}) }}" class="btn btn-warning">Modifica</a> -->
                                <div>
                                    <button type="button" class="buttonEdit btn btn-warning" data-toggle="modal"
                                        data-id="{{ entry.id }}"
                                        data-name="{{ entry.name }}"
                                        data-surname="{{ entry.surname }}"
                                        data-phone="{{ entry.phoneNumber }}"
                                        data-address="{{ entry.address }}"
                                        data-sex="{{ entry.sex }}"
                                        data-foto="{{ asset('uploads/fotos/' ~ entry.fotoFilename) }}"
                                    >
                                        Edit Modal
                                    </button>
                                </div>
                                <form action="{{ path('delete_agenda') }}" method="post"
                                onsubmit="return confirm('Sei sicuro di voler eliminare questo contatto?');"
                                >
                                    <input type="hidden" name="id" value="{{ entry.id }}">
                                    <button type="submit" class="btn btn-danger">Elimina</button>
                                </form>

                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h3>La tua agenda è vuota.</h3>
        {% endif %}
    </div>

    <script>



</script>
{% endblock %}
